// table {
//     width: 100%;
//   }

// li{
//   //display: inline-block;
//   max-width: 70%; /* limit width */
//   //word-break:break-all; /* wrap extended text*/
//   //border:1px solid red /* demo */
//   margin: 50px;
// }

.seasonRecords{
  display: inline-block;
  margin: 70px;
  width: 80%;
}

.seasonLine{
  width: 100%;
}

.twoTables{
  display: flex;
  vertical-align: top; 
  position: absolute;
  top: 30%;
  width: 80%;
}

.last3{
  height: 20%;
  width: 20%;
  margin: 70px;
}

.last3Table{
  width : 100%;
}

