// .last3{
//     height: 20%;
//     width: 20%;
//     margin: 70px;
//   }

//   .last3Table{
//     width : 100%;
//   }

// .Tables{
//   display: flex;
//   vertical-align: top; 
// }

ul{
  position: absolute;
  top: 30%;
}
table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}